<div class="profile_pic_div text-center ml-4 border border-light">
  <h4>Profile Picture</h4>
  <% if current_user.profile == nil %>
        <p><%= image_tag 'default.png', class:"rounded-circle" %></p>
        <% else %>
        <% if current_user.profile.image? %>        
            <p><%= image_tag current_user.profile.image.url, class:"profile" %></p>    
        <% end %> 
    <% end %>
    <%= link_to 'Edit Picture', profiles_path, class:'btn btn-success btn-sm', :"data-no-turbolink"=>true,method:"get" %>
</div>

<!-- Default form register -->
<div class="profile_content_div ml-4 text-center border border-light p-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

        <p class="h4 mb-4">Profile</p>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <%= f.text_field :names, class:"form-control", id:"defaultRegisterFormFirstName"  %>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <%= f.text_field :last_name, class:"form-control" %>
                </div>
            </div>

        <div class="form-row mb-4">
            <div class="col">
                <!--email -->
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
            <div class="col">
                <!-- Phone Number -->
                <%= f.number_field :phone, class:"form-control" %>
            </div>
        </div>

        <div class="field">
            <%= f.label :password %> <i>(leave blank if you dont want to change it)</i><br />
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:'Enter new Pasword if you want to change it' %>
            </div>
            <div class="col">
                <!-- password confirmation -->
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control",placeholder:'Confirm Password' %>
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <!-- current_password -->
                <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control",placeholder:'Old Password' %>
            </div>
            <div class="col">
                <!-- District -->
                <%= f.text_field :district, class:"form-control" %>
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <%= f.select :reguratory_body, options_for_select([
                ["Regulatory Body:", ""], 
                "RAHPC", 
                "NPC", 
                "RMDC", 
                "NCNM"]), 
                {}, { class: "form form-group form-control" } %>
            </div>
            <div class="col">
                <%= f.select :level, options_for_select([
                    ["Select Your Level", ""], 
                    "certificate(A2)", 
                    "Advanced_Diploma", 
                    "Bachelor_Degree", 
                    "Masters_Degree",
                    "PHD",
                    "Others"]), 
                    {}, { class: "form form-group form-control" } %>
            </div>
        </div>

        <div class="form-row mb-4">
            <div class="col">
            <%= f.label :upload_diploma %>
            <%= f.file_field :apload_diploma, class:"form-control" %>
            </div>
            <div class="col">
                <%= f.label :upload_cv %>
                <%= f.file_field :apload_cv, class:"form-control" %>
            </div>
        </div>

        <!-- Sign up button -->
        <%= f.submit "Save Details", class:"btn btn-info my-4 btn-block" %>
    

        
        </div>
    <% end %>
</div>