<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/assets/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">To Request Course Click The Button Bellow</h2>
              <p>After request the course pay amount of course and get access of learning</p>
            </div>
          </div>
        </div>
      </div>


    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <%= link_to "Home", homepage_index_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <%= link_to "Courses", all_course_courses_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Requested</span>
      </div>
    </div><br>

    <div class="sidebar">
    <a class="active"<%= link_to 'My Course', all_favorite_path %></a></i>
       <% @favorites.each do |favorite| %>


      <%if favorite.user.names == current_user.names %>
      <%if favorite.present?%>
    <a <%= link_to favorite.course.title, favorite, class:"nav-link",:"data-no-turbolink"=>true,method:"get" %>
    <%else%>
    <p class="card-text">No favorite yet.</p>
    <% end %>
  <% end %>
  <% end %>

  </div>


  <!-- Page content -->
  <div class="content">


  <h5 style="text-align:center;">My Requested Courses</h5>
  <div class="site-section">

      <div class="row">
      <% @favorites.each do |favorite| %>


        <%if favorite.user.names == current_user.names %>
        <%if favorite.present?%>
          <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                  <div class="course-1-content pb-4">
                    <b><%= favorite.course.title.truncate(30)%></b>
                    <p class="desc mb-4"><%= favorite.course.content_attract.truncate(70)%>
                    <p><%= link_to favorite.status, favorite, class:"btn btn-primary rounded-0 px-4",:"data-no-turbolink"=>true,method:"get" %></p>
                    </div>
                </div>
          </div>
          <%else%>
          <p class="card-text">No favorite yet.</p>
          <% end %>
        <% end %>
        <% end %>
      </div>
  </div>
</div>
</div>

</div>


</div>
