<section class="gray pt-0">
				<div class="container-fluid">

					<!-- Row -->
					<div class="row">

						<div class="col-lg-3 col-md-3 p-0">
							<div class="dashboard-navbar">

								<div class="d-user-avater">
									<% if user_signed_in? %>
										<% if current_user.profile == nil %>
											<p><%= image_tag 'default.png', class:"img-fluid avater" %></p>
											<%= link_to 'upload a profile picture', new_profile_path, class: "btn btn-success " %>
											<% else %>
											<% if current_user.profile.image? %>
												<p><%= image_tag current_user.profile.image.url, class:"img-fluid avater" %></p>
												<%= link_to 'view Profile picture', profiles_path, class:"pull-right", style:"margin-left:70em; margin-top: -10px;" %></li>
											<% end %>
										<% end %>
									<% end %>
									<h4><%= current_user.names %> <%= current_user.last_name %></h4>
									<span class="text-secondary"><%= current_user.working_place %></span>
								</div>

								<div class="d-navigation">
									<ul id="side-menu">
										<li ><a href="settings.html"><i class="fa fa-user"></i>My Profile</a></li>
										<li><a href="password.html"><i class="fa fa-cog"></i>Change my Password</a></li>
										<li class="active"><a href="paid-courses.html"><i class="fas fa-layer-group"></i>Paid Courses</a></li>
										<li><a href="available-books.html"><i class="fas fa-layer-group"></i>Books to read</a></li>
										<li><a href="index.html"><i class="ti-power-off"></i></a>Messages <span class="badge badge-pill badge-primary ml-2"><%= link_to pluralize(Notification.unread_count(current_user), ''), notifications_path, :class => 'menu-collapsed'  %></span></span>


										<li><a href="available-books.html"><i class="ti-layers"></i>Books to read</a></li>
										<li><i class="ti-power-off"></i><%= link_to "Logout", destroy_user_session_path, method: :delete, style:"color:steelblue" %></li>
									</ul>
								</div>

							</div>


						</div>


						<div class="col-lg-9 col-md-9 col-sm-12">

							<!-- Row -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Paid Courses</li>
										</ol>
									</nav>
								</div>
							</div>
							<!-- /Row -->


							<!-- Row -->
							<div class="row ">
								<div class="col-lg-12 col-md-12 col-sm-12 ">
									<div class="card">
									  <div id="headingOne" class="card-header bg-white shadow-sm border-0">
										<h6 class="mb-0 accordion_title"><a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative text-dark collapsible-link py-2">My Pending Courses</a></h6>
									  </div>
									  <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
										<div class="card-body pl-3 pr-3">
											<div class="table-responsive">
												<table class="table tbl">
													<thead class="thead-dark">
														<tr>
															<th scope="col">Course </th>
															<th scope="col">Date</th>
															<th scope="col">Status</th>
															<th scope="col">Price</th>
														</tr>
													</thead>
													<tbody>
														<% @favorites.each do |favorite| %>
														<%if favorite.user.email == current_user.email %>
															<%if favorite.present?%>
															<tr>
																<th scope="row"><a href="single-requested.html"> <%= favorite.course.title %>/<%= favorite.course.credit_number%>CPD Credits</a></th>
																<td>02 July 2020</td>
																<td><span class="payment_status pending"><%= favorite.status %></h5></span></td>
																<td><%= favorite.course.course_price %><span>Rwf</span></td>

															</tr>
															<%else%>
															<p class="card-text">No favorite yet.</p>
															<% end %>
														<% end %>
														<% end %>
													</tbody>
												</table>
											</div>
										</div>
									  </div>
									</div>
									<!-- Course Style 1 For Student -->
									<div class="dashboard_container scroll-row scrollbar-light-blue">
										<div class="dashboard_container_header" >
											<div class="dashboard_fl_1">
											<h4>All Courses</h4>
											</div>
											<div class="dashboard_fl_2 tbl">
												<ul class="mb0">
													<li class="list-inline-item">

													</li>
													<li class="list-inline-item" >
														<form class="form-inline my-2 my-lg-0">
															<input class="form-control" type="search" placeholder="Search Courses" aria-label="Search">
															<button class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
														</form>
													</li>
												</ul>
											</div>
										</div>
										<div class="dashboard_container_body" style="font-size:12px">

											<!-- Single Course -->
											<% @favorites.each do |favorite| %>
												<%if favorite.user.email == current_user.email %>
												    <%if favorite.present?%>
														<div class="dashboard_single_course">
															<div class="dashboard_single_course_thumb">
																<% if favorite.course.image_url %>
																    <%= image_tag favorite.course.image_url,:alt => "",class:'img-fluid'%>
															    <% end %>
																<div class="dashboard_action">
																	<%= link_to 'view course', favorite, class:"btn btn-ect",:"data-no-turbolink"=>true,method:"get" %>
																</div>
															</div>
															<div class="dashboard_single_course_caption">
																<div class="dashboard_single_course_head">
																	<div class="dashboard_single_course_head_flex">
																		<h4 class="dashboard_course_title"><%= favorite.course.title %></h4>
																		<span class="dashboard_instructor"><%= favorite.user.names%> <%= favorite.user.last_name%></span>
																		<div class="dashboard_rats">
																			<div class="dashboard_rating">
																				<i class="ti-star"></i>
																			</div>
																			<span>(<%= favorite.course.credit_number%> CPD Credits)</span>
																		</div>
																	</div>
																</div>
																<div class="dashboard_single_course_des">
																	<p><%= favorite.course.content_attract%></p>
																</div>
																<div class="dashboard_single_course_progress">
																	<div class="dashboard_single_course_progress_1">
																		<label>Completed</label>
																	</div>
																	<div class="dashboard_single_course_progress_2">
																		<ul class="m-0">
																			<li class="list-inline-item"><i class="ti-user mr-1"></i>451 Enrolled</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
														<%else%>
													    <p class="card-text">No favorite yet.</p>
													<% end %>
												<% end %>
											<% end %>

										</div>
									</div>

								</div>
							</div>
							<!-- /Row -->

						</div>

					</div>
					<!-- Row -->

				</div>
			</section>