<div class="container">
<p id="notice"><%= notice %></p>
<h1>My Request Courses</h1>
<% @favorites.each do |favorite| %>
    <%if favorite.user.names == current_user.names %>
    <%if favorite.present?%>
<!-- Card -->
<div class="card">


  <!-- Card content -->
  <div class="card-body">
  
   
    <p> <%= favorite.course.user.email %></p>
    <h4 class="card-title"><%= favorite.course.title %></h4>
    <p> <%= favorite.user.names + favorite.user.last_name%></p> 
    <span class="badge badge-success badge-pill"><br><%= favorite.status %><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
   <%else%>
     <p>No favorite yet.</p>
    
  <% end %>
  </div><br>
  </div></br>
<%end%>

<%end%>
  
  </div>
  <%= link_to 'Certificate', certificate_path %>