<!-- Bootstrap row -->
<div class="barr" id="body-row">
    <!-- Sidebar -->
    <div class="menuu" id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
        <!-- Bootstrap List Group -->
        <ul class="list-group">
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small><%= @favorite.course.title[0,15] %></small>
            </li>
            <!-- /END Separator -->
            <!-- Menu with submenu -->
            <% @favorite.course.credits.each do |credit| %>
            <span class="bg-dark list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-tasks fa-fw mr-3" style="color:white;"></span>
                <span class="menu-collapsed"><%=credit.name[0,15] %></span>
                <% if @favorite.status == "paid" %>
                  <span class="fa fa-download ml-auto" aria-hidden="true" style="color:white;"><%= link_to "Download", credit.upload_file_url, target: :_blank %></span>
                <% end %>
            </div>
        </span>
            <% end %>
            <!-- Submenu content -->
            <div id='submenu1' class="collapse sidebar-submenu">
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Charts</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Reports</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Tables</span>
                </a>
            </div>
            <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-user fa-fw mr-3"></span>
                    <span class="menu-collapsed">Profile</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id='submenu2' class="collapse sidebar-submenu">
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Settings</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
                    <span class="menu-collapsed">Password</span>
                </a>
            </div>
            <span class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-tasks fa-fw mr-3" style="color:white;"></span>
                    <span class="menu-collapsed"><%= link_to 'Courses', main_app.all_course_courses_path, class: "menu-collapsed",:"data-no-turbolink"=>true,method:"get" %></span>
                </div>
            </span>
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>OPTIONS</small>
            </li>
            <!-- /END Separator -->
            <span class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-arrow-circle-left mr-3" aria-hidden="true" style="color:white;"></span>
                    <span class="menu-collapsed"><%= link_to 'My Courses', all_favorite_path %></span>
                </div>
            </span>
            <a href="#" class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-calendar fa-fw mr-3"></span>
                    <span class="menu-collapsed">Calendar</span>
                </div>
            </a>
            <span class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-envelope-o fa-fw mr-3" style="color:white;"></span>
                    <span class="menu-collapsed" style="color:white;">Messages <span class="badge badge-pill badge-primary ml-2"><%= link_to pluralize(Notification.unread_count(current_user), ''), notifications_path, :class => 'menu-collapsed'  %></span></span>

                </div>
            </span>

            <!-- Separator without title -->
            <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
                <small>OTHERS</small>
            </li>
            <span  class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-paper-plane mr-3" style="color:white;"></span>
                    <span class="menu-collapsed"><%= link_to 'Gallery', main_app.pages_gallery_path, class: "menu-collapsed",:"data-no-turbolink"=>true,method:"get" %></span>
                </div>
            </span>
            <span  class="bg-dark list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-question fa-fw mr-3" style="color:white;"></span>
                    <span class="menu-collapsed"><%= link_to 'Help', main_app.pages_help_path, class: "menu-collapsed",:"data-no-turbolink"=>true,method:"get" %></span>
                </div>
            </span>
            <span class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-power-off mr-3" aria-hidden="true" style="color:white;"></span>
                    <span class="menu-collapsed"><%= link_to "Logout", main_app.destroy_user_session_path, class:'menu-collapsed', :method => :get %></span>
                </div>
            </span>
            <!-- Logo -->

        </ul><!-- List Group END-->
    </div><!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="contentt">
 <div class="site-section">
<div class="row">
        <p id="notice"><%= notice %></p>

        <p>
          <strong>Status:</strong>
          <%= @favorite.status %><%= @favorite.user.id %>
        </p>
        <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Course</a>
              </li>


            </ul>
          </div>
          <div class="card-body">

            <div class="alert alert-success">
              <strong>Introduction to Course <%= @favorite.course.title %>/</strong> <%= @favorite.course.credit_number%>CPD Credits
            </div>

                <h3>Course Description</h3>
                <p class="card-text"><%= @favorite.course.content.html_safe %></p>
          </div>

        <p>
          <strong>Prepayed by:</strong>
          <%= @favorite.course.user.names%>  <%=@favorite.course.user.last_name%>
          <%=@favorite.user.email%>
        </p>

        <% if @favorite.status == "paid" %>
        <p>
        <h3 class="card-title"><b>Modules course of <%= @favorite.course.title %></b></h3>
          <hr class="hr">
        <p>
          <video controls width="440" height="280" src="<%= @favorite.course.video %>"></video>
        </p>
          <!DOCTYPE html>
          <html>
          <head>
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <body class="rails-default-error-page">
            <!-- This file lives in public/404.html -->
            <div class="dialog">
              <div>
              <% @favorite.course.credits.each do |credit| %>
                <div class="module">
                <i class="fa fa-file-pdf-o fa_custom"></i>  <%=  credit.name%><br><%=  credit.discription.html_safe%>
                <p>
                  <button class="btn btn-primary rounded-0 btn-lg px-5"><i class="fa fa-download" aria-hidden="true" style="color:white;"></i>
                  <%= link_to "Download", credit.upload_file_url,class:"text-white", target: :_blank %></button>
                </p>

                </div>

                <h1><%=  credit.name%></h1>
                <p>Thank Your for hard work!! continue to read next module.</p>
              </div>
              <p>If you have any problem don't hastate to ask owner's course </p>
              <% end %>
            </div>
          </body>
          </html>

        </p>
        <% if ((DateTime.now.to_time - @favorite.created_at.to_time)/1.hours).to_i > 1%>
        <a href="<%= @favorite.course.quiz_link%>" target="_blank" rel="noopener noreferrer" class= "btn btn-info">Take quiz here</a>
        <% end %>
        <% else %>
        <section class="padding-y-100 bg-light-v2">
        <section class="padding-y-100 bg-light-v2">
        <div class="container">

         <div class="row">
           <div class="col-lg-8 m-auto text-center">
             <h2 class="h1">
             Notyet pay please pay <%= @favorite.course.course_price %>frw
             </h2>
             <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40 mx-auto"></div>
           </div>

              <div class="col-12 mt-4">
                <div id="accordion-7" class="accordion-style-7 bg-white shadow-v1">

                  <div class="accordion-item border-bottom border-light">

                    <div id="acc7_1" class="shadow p-3 mb-5 bg-white rounded" data-parent="#accordion-7">
                      <div class="px-4">
                         <p>
                         Notyet pay, Please Pay <%= @favorite.course.course_price %>frw on Bank of Kigali <br>
                         Bank Account: 00262-06949899-22 / Top-Upgrade Ltd or use MTN Mobile Money on 0788848750
                         registered to Uwandamiye Emmanuella or 0730300074 registered to Jean Damascene BIGIRIMANA. In case you have a question, contact of of those phone numbers
                         or e-mail: healthedultd@gmail.com to access all modules <b><br> Thank You!!
                         </p>
                      </div>
                    </div>

                    <div class="row">
            <div class="col-sm-4">
            <center><h4>pay by bank or <i class="fa fa-hand-o-right" aria-hidden="true"></i></h4></center>
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                  <h1>Bank of Kigali</h1>
                  <p>Account: 00262-06949899-22</p>
                  <p>Name:Top-Upgrade Ltd </p>
                  <p>Name:You have request CPD course, Please make payment on <i class="fa fa-hand-o-up" ></i>  or pay <i class="fa fa-hand-o-right" aria-hidden="true"></i> </p>
                  </div>
                  <div class="flip-card-back">
                  <img src="/assets/images1.jpeg" alt="Avatar" style="width:300px;height:200px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
            <center><h4>pay by MTN mobile or<i class="fa fa-hand-o-right" aria-hidden="true"></i></h4></center>
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h1>MTN Mobile</h1>
                    <p>Number: 0788848750</p>
                    <p>Names: Uwandamiye Emmanuella</p>
                    <p>You have request CPD course, Please make payment on <i class="fa fa-hand-o-up" ></i>  or pay <i class="fa fa-hand-o-right" aria-hidden="true"></i></p>

                  </div>
                  <div class="flip-card-back">
                  <img src="/assets/images2.jpeg" alt="Avatar" style="width:300px;height:200px;">
                  </div>
                </div>
              </div>
            </div><div class="col-sm-4">
            <center><h4> pay by AITEL money</h4></center>
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                <h1>AITEL Mobile</h1>
                <p>Number: 0730300074 </p>
                <p>Name:Jean Damascene BIGIRIMANA</p>
                <p>You have request healthedu CPD course Please make payment on <i class="fa fa-hand-o-up" ></i></i></p>
                </div>
                <div class="flip-card-back">
                <img src="/assets/images3.jpeg" alt="Avatar" style="width:300px;height:200px;">
                </div>
              </div>
            </div>
            </div>
          </div>
</div> <!-- END accordion-item-->


   </div> <!-- END row-->

  </div> <!-- END container-->
</section> <!-- END section-->

        <% end %>


        </div>
        <%= link_to 'Back', all_favorite_path %><br><br>

        </div>

        </div><br><br>






    </div><!-- Main Col END -->

</div><!-- body-row END -->





