<div class="container"
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @favorite.course.title %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @favorite.user.email %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @favorite.course.user.email %>
</p>
<% if @favorite.status == "paid" %>
<p>
<h3 class="card-title"><b>Modules course of <%= @favorite.course.title %></b></h3>
  <hr class="hr">
  
      
<% @favorite.course.credits.each do |credit| %>
  <div class="module">
 

  <i class="fa fa-file-pdf-o fa_custom"></i><%= link_to credit.name, credit_path %>
  <%= link_to "Download", credit.upload_file_url %>
  </div><br>


<% end %>
</p>

<% else %>
<p>
<h2>Please pay <%= @favorite.course.course_price %> RWF on 0787939119 to access all modules</h2>
</p>
<% end %>

<%= link_to 'Back', favorites_path %>
</dev>


