<div class="container"
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @favorite.course.title %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @favorite.user.email %>
</p>

<p>
  <strong>Uploaded by:</strong>
  <%= @favorite.course.user.email %>
</p>
<% if @favorite.status == "paid" %>
<p>
<h3 class="card-title"><b>Modules course of <%= @favorite.course.title %></b></h3>
  <hr class="hr">
  
      
<% @favorite.course.credits.each do |credit| %>
  <div class="module">
 

  <i class="fa fa-file-pdf-o fa_custom"></i><%= credit.name %>
  <%= link_to "Download", credit.upload_file_url %>
  </div><br>


<% end %>
</p>
<a href="<%= @favorite.course.status%>" target="_blank" rel="noopener noreferrer" class= "btn btn-info">Take quiz here</a>

<% else %>
<div class="msg">

<h2 class="hdr">Notyet pay, Please Pay <%= @favorite.course.course_price %> on Bank of Kigali <br>Bank Account: 00262-06949899-22 / Top-Upgrade Ltd or use MTN Mobile Money on 0788848750 registered to Uwandamiye Emmanuella or 0730300074 registered to Jean Damascene BIGIRIMANA. In case you have a question, contact of of those phone numbers or e-mail: healthedultd@gmail.com to access all modules <b><br> Thank You!!</h2>

</div>

<% end %>

<%= link_to 'Back', favorites_path %>
</div>


