<div class="container"
<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @favorite.status %>
</p>
<div class="card">
<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Courses</a>
      </li>


    </ul>
  </div>
  <div class="card-body">

    <div class="alert alert-success">
      <strong>Introduction to Course <%= @favorite.course.title %>/</strong> <%= @favorite.course.credit_number%>CPD Credits
    </div>

        <h3>Course Description</h3>
        <p class="card-text"><%= @favorite.course.content.html_safe %></p>
  </div>

<p>
  <strong>Prepayed by:</strong>
  <%= @favorite.course.user.names + " " + @favorite.course.user.last_name%>
</p>

<% if @favorite.status == "paid" %>
<p>
<h3 class="card-title"><b>Modules course of <%= @favorite.course.title %></b></h3>
  <hr class="hr">
  <!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <body class="rails-default-error-page">
    <!-- This file lives in public/404.html -->
    <div class="dialog">
      <div>
      <% @favorite.course.credits.each do |credit| %>
        <div class="module">
        <i class="fa fa-file-pdf-o fa_custom"></i>  <%=  credit.name%><br><%=  credit.discription.html_safe%>
        <%= link_to "Download", credit.upload_file_url, target: :_blank %>
        </div>


        <h1><%=  credit.name%></h1>
        <p>Thank Your for hard work!! continue to read next module.</p>
      </div>
      <p>If you have any problem don't hastate to ask owner's course </p>
      <% end %>
    </div>
  </body>
  </html>

</p>
<% if ((DateTime.now.to_time - @favorite.created_at.to_time)/1.hours).to_i > 5 %>
<a href="<%= @favorite.course.quiz_link%>" target="_blank" rel="noopener noreferrer" class= "btn btn-info">Take quiz here</a>
<% end %>
<% else %>
<div class="msg">

<h2 class="hdr">Notyet pay, Please Pay <%= @favorite.course.course_price %> on Bank of Kigali <br>Bank Account: 00262-06949899-22 / Top-Upgrade Ltd or use MTN Mobile Money on 0788848750 registered to Uwandamiye Emmanuella or 0730300074 registered to Jean Damascene BIGIRIMANA. In case you have a question, contact of of those phone numbers or e-mail: healthedultd@gmail.com to access all modules <b><br> Thank You!!</h2>

</div>

<% end %>

<%= link_to 'Back', favorites_path %>
</div>
</div>


</div>




