
<%= form_tag(professional_path, method: :get, class:"form-inline") do %>
  <%= text_field_tag :term1, params[:term1], placeholder:'Search By Name Or last_name', class:"form-control mr-sm-2"  %>
  <%= submit_tag ' Search', name: nil %>
 <% end %>
  
  <div class="sidebar">
    <a <%= link_to 'Instructors List', instructor_path %></a>
    <a class="active" <%= link_to 'Professionals List', professional_path %></a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  
  <!-- Page content -->
  <div class="content">
  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>LastName</th>
        <th>Working_place</th>
        <th>Email</th>
        <th>Reguratory Body</th>
        <th>Level</th>
        <th>Phone</th>
       
        <th>More actions</th>
        
      </tr>
    </thead>
  
      <tbody>
      <% @professionals.each do |professional| %>
        <tr>
           <td><%= professional.names %></td>
           <td><%= professional.last_name %></td>
          <td><%= professional.working_place %></td>
          <td><%= professional.email %></td>
          <td><%= professional.reguratory_body %></td>
          <td><%= professional.level %></td>
           <td><%= professional.phone %></td>
           <td><%= link_to "Show", user_path(professional.id) %></td>
           
        <% end %>
      </tbody>
    </table>
  </div>
  </div>

