

<section class="gray pt-0">
                <div class="container-fluid">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <!-- Row -->

                            <!-- /Row -->

                            <!-- Row -->
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="dashboard_stats_wrap widget-2">
                                        <div class="dashboard_stats_wrap_content"><h4><%= Course.count%></h4> <span>Available courses on platform</span></div>
                                        <div class="dashboard_stats_wrap-icon"><i class="fas fa-book"></i></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="dashboard_stats_wrap widget-4">
                                        <div class="dashboard_stats_wrap_content"><h4><%=User.count%></h4> <span>Health Professionals on platform</span></div>
                                        <div class="dashboard_stats_wrap-icon"><i class="fas fa-chart-line"></i></div>
                                    </div>
                                </div>

                            </div>
                            <!-- /Row -->
                                <!-- row Start -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="custom-tab customize-tab tabs_creative">
                                <ul class="nav nav-tabs pb-2 b-0" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">About this Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <p>Regulatory Bodies are at the Heart of the protection to the public and to the profession. In terms of CPD; They have the responsibility to know who gave the course (Provider), How long did it take, did the person pass the Quiz? Did the course be delivered in harmony, did the provider be evaluated.
                                            Did the course outcome improve the overall professional capacity and skills in which the East African Citizens will benefit from?
                                        </p>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <p>This account allows the Council to cross check information about any Health Professional’s CPD activity online and this platform can replace the usual Hard Copy Booklet.</p>
                                    </div>
                                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                        <p>If you require any further information, let us know. Please feel free to contact us if you need any further information</p>
                                        <p><span><i class="ti-headphone-alt"> (+250)789044439</i></span></p>
                                        <p><span><i class="ti-email"> (+250)789044439</i></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12 col-sm-12">

                        <%= form_tag(professional_path, method: :get, class:"form-inline addons mb-12") do %>
                            <%= text_field_tag :term1, params[:term1], placeholder:'Search Professional', class:"form-control mr-sm-2"  %>
                            <%= submit_tag 'Search', name: nil ,class:"btn btn-success"%>
                        <% end %>
                            
                        </div>

                    </div>
                            <!-- Row -->

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">

                                    <div class="dashboard_container">
                                        <div class="dashboard_container_body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col">Firstname</th>
                                                            <th scope="col">Lastname</th>
                                                            <th scope="col">Gender</th>
                                                            <th scope="col">District</th>
                                                            <th scope="col">Credits</th>
                                                            <th scope="col">Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% @professionals.each do |professional| %>
                                                        <tr>
                                                            <th scope="row"><%= professional.names %></th>
                                                            <td><%= professional.last_name %></td>
                                                            <td><%= professional.gender %></td>
                                                            <td><%= professional.district %></td>
                                                            
                                                            <td></td>
                                                            
                                                            <td><%= link_to user_path(professional.id) do %><i class="fas fa-eye"></i><%end%></td>
                                                        </tr>
                                                        <tr>
                                                       <% end %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- /Row -->

                        </div>

                    </div>

                </div>
            </section>