<div class="tank">
  <div class ="menu">
    <ul class="list">
      <li><%= link_to 'Instructors List', instructor_path %></li>
      <li><%= link_to 'Professionals List', professional_path %></li>
    </ul>
  </div>
  <div class="courses">
  <h2>List of All Professionals</h2>
  <hr class="hr">
  <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Working_place</th>
      <th>Email</th>
      <th>Reguratory Body</th>
      <th>Level</th>
      <th>District</th>
      <th>Gender</th>
      <th>Apload_diploma</th>
      <th>Apload_cv </th>
      <th>Image</th>
      <th>Phone</th>
      
    </tr>
  </thead>

    <tbody>
    <% @professionals.each do |professional| %>
      <tr>
         <td><%= professional.names %></td>
         <td><%= professional.working_place %></td>
         <td><%= professional.email %></td>
         <td><%= professional.reguratory_body %></td>
         <td><%= professional.level %></td>
         <td><%= professional.district %></td>
         <td><%= professional.gender %></td>
         <td><%= link_to "Download", professional.apload_diploma_url %></td>
         <td><%= link_to "Download", professional.apload_cv_url %></td>
         <td><% if professional.image_url %>
             <%= image_tag professional.image_url, style:"width:100px;height:100px;" %></td>
         <% end %>
         <td><%= professional.phone %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>