
<section class="gray pt-0">
				<div class="container-fluid">

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">

						</div>
						<div class="col-lg-12 col-md-12 col-sm-12">
							<!-- Row -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><%= link_to "Back to Dashboard",  professional_path %>
											<li class="breadcrumb-item active" aria-current="page">Rwanda Alliance Health Professional Council</li>

										</ol>

									</nav>

								</div>
							</div>
							<!-- /Row -->
							
							<!-- Row -->
							<div class="row">
						
								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="dashboard_stats_wrap widget-1">
										<div class="dashboard_stats_wrap_content"><h4><%= @user.names %> <%= @user.last_name%></h4> <span>Full Names</span></div>
										<div class="dashboard_stats_wrap-icon"><i class="fas fa-user"></i></div>
									</div>	
								</div>

								
								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="dashboard_stats_wrap widget-2">
										<div class="dashboard_stats_wrap_content"><h4><%= @user.favorites.count %></h4> <span>Total Courses unrolled</span></div>
										<div class="dashboard_stats_wrap-icon"><i class="fas fa-chart-pie"></i></div>
									</div>	
								</div>
								
								<div class="col-lg-4 col-md-6 col-sm-12">
									<div class="dashboard_stats_wrap widget-4">
                    <div class="dashboard_stats_wrap_content"><h4>
                    <% cpd = 0 %>
                    <% @user.favorites.each do |pro| %>
                       <% cpd += pro.course.credit_number if pro.course.present? %>
                    <% end %></h4> <h4><%= cpd %></h4><span>Total Completed Credits</span></div>
										<div class="dashboard_stats_wrap-icon"><i class="fas fa-star"></i></div>
									</div>	
								</div>

							</div>
							<!-- /Row -->

							<!-- Row -->
							<div class="row">
						
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="dashboard_container">
										<div class="dashboard_container_body">
											<div class="table-responsive">
												<table class="table">
													<thead class="thead-dark">
														<tr>
															<th scope="col">Course</th>
															<th scope="col">Instructor</th>
															<th scope="col">Started</th>
															<th scope="col">Credits</th>
														</tr>
													</thead>
                          <tbody>
                          <% @user.favorites.each do |favorite| %>
														<tr>
                              <td><%= favorite.course.title %></td>
                              <td><%= favorite.course.user.names %> <%= favorite.course.user.last_name %></td>
                              <td><%= favorite.created_at %></td>
							  <td><b><%= favorite.course.credits.count %>CPD Credits</b></td>
														</tr>
							<% end%>
														
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>
								
							</div>
							<!-- /Row -->
							
						</div>
					
					</div>
					
        </div>
        
			</section>


