
<h1><%= @user.names %></h1>
<h1><%= @user.email %><br/></h1>
<h1><%= @user.user_role %><br/></h1>
<h1><%= @user.reguratory_body %><br/></h1>
<h1><%= @user.level %><br/></h1>

<h1><%= @user.gender %><br/></h1>
<h1><%= @user.working_place %><br/></h1>
<h1><%= @user.apload_diploma %><br/></h1>
<h1><%= @user.apload_cv %><br/></h1>
<%= link_to 'get a certificate(PDF)', user_path(@user, format: 'pdf') %>