








<section class="gray pt-0">
				<div class="container-fluid">

					<div class="row">

						<div class="col-lg-3 col-md-3 p-0">
							<div class="dashboard-navbar">
                <div class="d-user-avater">

                <% if user_signed_in? %>
                <% if current_user.profile == nil %>
                  <p><%= image_tag 'default.png', class:"img-fluid avater" %></p>
                  <%= link_to 'upload a profile picture', new_profile_path, class: "btn btn-success " %>
                <% else %>
                <% if current_user.profile.image? %>
                  <p><%= image_tag current_user.profile.image.url, class:"img-fluid avater" %></p>
                  <%= link_to 'view Profile picture', profiles_path, class:"pull-right", style:"margin-left:70em; margin-top: -10px;" %></li>
                <% end %>
                <% end %>
              <% end %>
              <h4><%= current_user.names %> <%= current_user.last_name %></h4>
              <span class="text-secondary"><%= current_user.working_place %></span>
						</div>

								<div class="d-navigation">
									<ul id="side-menu">
									<li><%= link_to profiles_path do %><i class="fa fa-user"></i>My Profile<%end%></li>
										<li><%= link_to edit_user_registration_path do %><i class="fa fa-cog"></i>Change my Password<%end%></li>
										<li ><%= link_to new_course_path do %><i class="fas fa-layer-group"></i>Add New Course<%end%></li>
										<li class="active"><%= link_to new_book_path do %><i class="fas fa-layer-group"></i>Add New Book<%end%></li>
										<li><%= link_to courses_path do %><i class="fas fa-layer-group"></i>My courses<%end%></li>
										<li><%= link_to destroy_user_session_path do %><i class="fa fa-power-off"></i>Logout<%end%></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12">
							<!-- Row -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#">Home</a></li>
											<li class="breadcrumb-item"><a href="#">My Dashboard</a></li>
											<li class="breadcrumb-item active" aria-current="page">Add new Book</li>
										</ol>
									</nav>
								</div>
							</div>
							<!-- /Row -->
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
									<div class="prc_wrap">
                      <div class="prc_wrap-body">
                      <%= form_with(model: book, local: true) do |form| %>
                        <% if book.errors.any? %>
                          <div id="error_explanation">
                            <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

                            <ul>
                              <% book.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                          <% end %>
												<div class="row">
													<div class="col-lg-6 col-md-12">
														<div class="form-group">
															<label>Book Name</label>
                               <%= form.text_field :book_name, class:"form-control simple", placeholder:"Enter Book Name", :required => true  %>
														</div>
													</div>
													<div class="col-lg-6 col-md-12">
														<div class="form-group">
															<label>Author Name</label>
                              <%= form.text_field :author_name, class:"form-control simple", placeholder:"Enter Author Name", :required => true  %>
														</div>
                          </div>

                          <div class="col-lg-6 col-md-6">
                          <div class="form-group">
                            <label>Upload Image</label>
                            <%= form.file_field :image, class:"form-control simple", placeholder:"Insert Image" %>
                          </div>
                        </div>

													<div class="col-lg-6 col-md-6">
											<div class="form-group">
                        <label>Upload book file</label>
                        <%= form.file_field :book, class:"form-control simple", placeholder:"Upload book files" %>
											</div>
										</div>
												</div>

												<div class="form-group">
                          <label>Book Description</label>
                          <%= form.text_area :summary, class:"form-control simple", placeholder:"Enter Summary Book", :required => true  %>
												</div>

												<div class="form-group">

                          <%= form.submit "Create book", class:"bg-green btn" %>
												</div>
											</div>

										</div>



								</div>
							</div>

					</div>

					</div>
				</div>
      </section>
      <% end %>

