<div class="container">
<%= form_with(model: credit, local: true) do |form| %>
  <% if credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
        <% credit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
  <%= form.label :discription %>
  <%= form.text_area :discription, class:"form-control" %>
</div>

  <div class="field">
    <%= form.label :upload_file %>
    <%= form.file_field :upload_file, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.file_field :video, id: :video_file %>
  </div>


    <%= form.hidden_field :course_id, :value => params[:course_id] %>
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
