<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credit.name %>
</p>

<p>
  <strong>Upload file:</strong>
  <%= @credit.upload_file %>
</p>



<p>
  <strong>Course:</strong>
  <%= @credit.course_id %>
</p>

<p>
  <strong>Video:</strong>
  <video controls width="640" height="480" src="<%= @credit.video %>"></video>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
</div>
