<!-- Modal -->
<div class="container">
    <!--Content-->
    <div class="modal-content form-elegant" style="width:50%;margin:auto">
      <!--Header-->
      <div class="modal-header text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Sign in</strong></h3>
      </div>
      <!--Body-->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="modal-body mx-4">
        <!--Body-->
        <div class="md-form mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",id:"Form-email1", class:"form-control validate" %>
          <label data-error="wrong" data-success="right" for="Form-email1">Your email</label>
        </div>

        <div class="md-form">
          <%= f.password_field :password, autocomplete: "current-password",id:"Form-pass1", class:"form-control validate" %>
          <label data-error="wrong" data-success="right" for="Form-pass1">Your password</label>
          <p class="font-small blue-text d-flex justify-content-end">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
            <% end %>
          </p>
        </div>

        <div class="text-center mb-1">
          
          <%= f.submit class:"btn blue-gradient btn-block btn-rounded z-depth-1a" %>
        </div>
        <% end %>
        <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in
          with:</p>

        <div class="row my-3 d-flex justify-content-center">
          <!--Facebook-->
          
          <%= link_to "f Sign in with Facebook", user_facebook_omniauth_authorize_path, class:"btn btn-primary btn-rounded mr-md-3 z-depth-1a"%>
          <%= link_to 'G+  Login with Google +', user_google_omniauth_authorize_path, class:"btn btn-danger btn-rounded mr-md-3 z-depth-1a" %>
          <button type="button" class="btn btn-info btn-rounded mr-md-3 z-depth-1a"><i class="fab fa-linkedin-in pr-1"></i> Login with Linkedin</button>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer mx-5 pt-3 mb-1">
        <p class="font-small grey-text d-flex justify-content-end">Not a member? 
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name),:"data-no-turbolink"=>true,method:"get" %><br />
          <% end %></p>
      </div>
    </div>
    <!--/.Content-->
</div>






