<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body class="red-skin">
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover half_banner" style="background:#0b2248 url(../assets/Computer.jpg) no-repeat;">
<div class="container">
  <!-- Type -->
  <div class="row" >
    <div class="modal-dialog modal-dialog-centered" style="">
  <div class="modal-content">
    <div class="modal-body">
      <h4 class="modal-header-title"><img src="../assets/green-logo.jpg" class="logo img-responsive" alt="" /></h4>
      <div class="login-form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2>Sign in</h2>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control input-lg", placeholder:"Email", required:"required" %>
            </div>
        <div class="form-group">
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control input-lg",placeholder:"Password", required:"required" %>
            </div>
            <div class="form-group">
                <%= f.submit "Log in", class:"btn btn-success btn-lg btn-block signup-btn" %>
            </div>
            <div class="form-group line">
							<h6 class="text-center">OR</h6>
						</div>
            <div class="form-group">
            <%= link_to 'G+  Login with Google +', user_google_omniauth_authorize_path, class:"btn btn-danger btn-lg btn-block " %>
        </div>

        </form>
        </div>

      <div class="social-login mb-3">
        <ul>
          <li>
          <% if devise_mapping.rememberable? %>
          <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
          </div>
        <% end %>
          </li>
          <li><a href="recover-password.html" class="theme-cl">Forget Password?</a></li>
        </ul>
      </div>
      
      <% end %>
      <div class="text-center">new_user_registration
        <p class="mt-2">Haven't Any Account? <%= link_to "Click here",  new_user_registration_path, :"data-no-turbolink"=>true,method:"get" %></p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</div>
</body>
</html>