<div class="container">
<p><%= @mc_question.question %></p>

<%
choices = [@mc_question.answer, @mc_question.distractor_1, @mc_question.distractor_2, @mc_question.distractor_3]
choices.each do |c|
%>
  <div class="custom-control custom-radio">
    <%= radio_button_tag "guess", c, checked = c == @mc_question.answer, enabled: true %>
    <%= label_tag "guess_#{c}", c %>
  </div>
  
<% end %>
<%= link_to 'Add questions', new_mc_question_path %>
<li><%= link_to 'View questions', mc_questions_path %></li>
</div>
