
 <!-- ============================ Full Width Courses  ================================== -->
    <section class="gray">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="sec-heading center">
              <h2>We have <span class="theme-cl"><%= Course.count %></span> Courses for you </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <% @courses.each do |course| %>

            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">

                <div class="education_block_thumb n-shadow">
                  <a href="single.html" data-toggle="modal" data-target="#login">
                  <% if course.image_url %>
                    <%= image_tag course.image_url,:alt => "",class:'img-fluid'%>
                  <% end %></a>
                  <div class="cources_price"><%= course.course_price%><span class="theme-cl"> Rwf</span></div>
                </div>

                <div class="education_block_body">
                  <h4 class="bl-title"><a href="single.html" data-toggle="modal" data-target="#login"><%= course.title%></a></h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
                    <li><i class="ti-star mr-1"></i><%= course.credit_number%> CPD Credits</li>
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img"><a href="instructor-detail.html"><img src="assets/img/gihozo.jpg" class="img-fluid" alt=""></a></div>
                    <h5><a href="#"> <%= course.user.names%>  <%=course.user.last_name%></a></h5>
                  </div>
                  <div class="foot_lecture"><i class="ti-control-skip-forward mr-2"></i>8 Hours</div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </section>

