<!-- ============================ Full Width Courses  ================================== -->
    <section class="gray">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="sec-heading center">
              <% if user_signed_in? && current_user.user_role== 'secondary'%>
                <h2>Welcome<span class="theme-cl"> To Learn</span> Secondary Courses</h2>
                <% else %>
                <h2>We have <span class="theme-cl"><%= Course.count %></span> Courses for you </h2>
              <%end%>
            </div>
          </div>
        </div>

        <div class="row">
          <% @courses.each do |course| %>
            <!-- Cource Grid 1 -->
            <div class="col-lg-4 col-md-6">
              <div class="education_block_grid style_2">
                <div class="education_block_thumb n-shadow">
                <%= link_to course do %>
                  <% if course.image_url %>
                    <%= image_tag course.image_url,:alt => "",class:'img-fluid'%>
                  <% end %><%end%>
                  <% if course.course_price == 0 %>
                    <div class="cources_price">free<span class="theme-cl"> Course</span></div>
                    <% else %>
                    <div class="cources_price"><%= course.course_price%><span class="theme-cl"> Rwf</span></div>
                  <% end %>
                </div>

                <div class="education_block_body">
                  <h4 class="bl-title"><%= link_to course.title, course,:"data-no-turbolink"=>true,method:"get" %></h4>
                </div>

                <div class="cources_info_style3">
                  <ul>
                    <li><i class="fa fa-star"></i><%= course.credit_number%>CPD Credits</li>
                  </ul>
                </div>

                <div class="education_block_footer">
                  <div class="education_block_author">
                    <div class="path-img"><a href="instructor-detail.html">
                    <% @profiles.each do |profile| %>

                      <% if course.user.id == profile.user_id %>
                      <%= image_tag profile.image_url,:alt => "",class:'img-fluid'%>

                      <% end %>
                    <% end %>
                    </a></div>
                    <h5><a href="#"> <%= course.user.names%>  <%=course.user.last_name%></a></h5>
                  </div>
                  <div class="foot_lecture"><i class="fa fa-fast-forward mr-2"></i><%= course.credit_number%> Hours</div>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </section>

