<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/assets/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">Courses</h2>
              <p>Increase your knowledge and get certificate</p>
            </div>
          </div>
        </div>
      </div> 
    

    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <%= link_to "Home", homepage_index_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
      </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
            <% @courses.each do |course| %>
                <div class="col-lg-4 col-md-6 mb-4">
                      <div class="course-1-item">
                          <figure class="thumnail">
                          <a href="course-single.html">
                          <% if course.image_url %>
                            <%= image_tag course.image_url,:alt => "doctor feed",class:'card-image'%>
                          <% end %>
                          </a>
                          <div class="price"><%= course.course_price%>&nbsp;Frws</div>
                          <div class="category"><h3><i class="fa fa-calendar"></i> Updated
                          <% start_time = course.created_at %>
                          <% end_time   =  DateTime.now %>
                          <%= distance_of_time_in_words(start_time, end_time)  %></h3></div>  
                          </figure>
                          <div class="course-1-content pb-4">
                          <h2><%= course.title%>/<%= course.credit_number %>CPD Credits</h2>
                          
                          <p class="desc mb-4"><%= course.content.html_safe%></p>
                          <p><%= link_to 'Enroll In This Course', course, class:"btn btn-primary rounded-0 px-4",:"data-no-turbolink"=>true,method:"get" %></p>
                          </div>
                      </div>
                </div>
                
              <% end %>
              
            </div>
        </div>
    </div>

   