<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/assets/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <%= paginate @courses %>
              <h2 class="mb-0">Courses</h2>
              <p>Create course, assign more module and create quiz</p>
            </div>
          </div>
        </div>
      </div>


    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <%= link_to "Home", homepage_index_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
      </div>
    </div>
<div class="container">
<h5 style="text-align:center;">Courses</h5>

<div class="card text-center">


  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <%= link_to "Courses", courses_path, class: "nav-link active",:"data-no-turbolink"=>true,method:"get" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Course", new_course_path, class: "nav-link",:"data-no-turbolink"=>true,method:"get" %>
      </li>
      <li class="nav-item">
        <%= link_to "Create Quiz", pages_quiz_path, class: "nav-link",:"data-no-turbolink"=>true,method:"get" %>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Credit</th>
      <th>Price</th>

      <th colspan="5">Action</th>
    </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.title%></td>
        <td><%= course.credit_number %>CPD Credits</td>
        <td><%= course.course_price%></td>

        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course),:"data-no-turbolink"=>true,method:"get" %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' },:"data-no-turbolink"=>true,method:"get" %></td>
        <td><%= link_to 'Add module', new_credit_path(:course_id => course.id), :"data-no-turbolink"=>true,method:"get" %></td>
        <td><%= link_to 'questions', course_comments_path(course), :"data-no-turbolink"=>true,method:"get"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <%= paginate @courses %>
</div>
</div>
</div>


