
<% if current_user && current_user.user_role == 'council' %>
        <%= link_to 'see list of instructor', instructor_path, class: 'btn btn-success' %>
        <%= link_to 'see list of professionals', professional_path, class: 'btn btn-success' %>
        <% end %>
<div class="container", style='margin:100px'>
<div class="row">
  
  <div class="row row-cols-1 row-cols-md-3">
  <% @courses.each do |course| %>
<div class="col mb-4">
<div class="card h-100">
<% if course.image_url %>
    <%= image_tag course.image_url,:alt => "doctor feed", style:'width:100%;height:40%' %>

  <% end %>
<div class="card-body">
  <h5 class="card-title" style="color:green"><b><%= course.title%>/<%= course.credit_number %>credits &nbsp;&nbsp; - &nbsp;&nbsp;<%= course.course_price%>&nbsp;Frws</b></h5>
  <p class="card-text"><b><%= course.content[0,100]..%></b></p>
  <%if current_user.user_role=='professional'%>
  <td><%= link_to 'Buy course', new_payment_path(:course_id => course.id), :"data-no-turbolink" => true, method: "get"  %></td>
  <td><%= link_to 'view questions', course_comments_path(course)%></td>
  <td><%= link_to 'ask question', new_course_comment_path(course) %></td>
  <td><%= link_to "Download", course.upload_file_url %></td>
  <%= link_to 'Start Now', course, class:"btn btn-success" %>
  <%end%>
  <%if current_user.user_role=='instructor'%>
  <%= link_to 'New Course', new_course_path %>
  <td><%= link_to 'Show', course %></td>
  <td><%= link_to 'Edit', edit_course_path(course) %></td>
  <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td><%= link_to 'view questions', course_comments_path(course)%></td>
  <td><%= link_to 'ask question', new_course_comment_path(course) %></td>
  <%end%>
  <%= link_to 'New Course', new_course_path %>
</div>
<div class="card-footer">
<small class="text-muted">Updated
<% start_time = course.created_at %>
<% end_time   =  DateTime.now %>
<%= distance_of_time_in_words(start_time, end_time)  %> &nbsp; ago by <%= course.user.email%></small>
</div>
</div>
</div>
<% end %>
</div>
</div>

          