


<div class="row">
					
						<div class="col-lg-3 col-md-3 p-0">
							<div class="dashboard-navbar">

                <div class="d-user-avater">
                <% if user_signed_in? %>
										<% if current_user.profile == nil %>
											<p><%= image_tag 'default.png', class:"img-fluid avater" %></p>
											<%= link_to 'upload a profile picture', new_profile_path, class: "btn btn-success " %>
										<% else %>
										<% if current_user.profile.image? %>
											<p><%= image_tag current_user.profile.image.url, class:"img-fluid avater" %></p>
											<%= link_to 'view Profile picture', profiles_path, class:"pull-right", style:"margin-left:70em; margin-top: -10px;" %></li>
										<% end %>
										<% end %>
									<% end %>
									<h4><%= current_user.names %> <%= current_user.last_name %></h4>
									<span class="text-secondary"><%= current_user.working_place %></span>
								</div>

								<div class="d-navigation">
									<ul id="side-menu">
										<li ><a href="settings.html"><i class="ti-user"></i>My Profile</a></li>
										<li><a href="password.html"><i class="ti-settings"></i>Change my Password</a></li>
										<li><a href="instructor-courses.html"><i class="ti-layers"></i>My Courses</a></li>
										<li><a href="index.html"><i class="ti-power-off"></i>Log Out</a></li>
									</ul>
								</div>
								
							</div>
							
							
						</div>	
						
						<div class="col-lg-9 col-md-9 col-sm-12">
							
							<!-- Row -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 pt-4 pb-4">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">My courses</li>
                      <%= link_to "New Course", new_course_path, class: "nav-link",:"data-no-turbolink"=>true,method:"get" %>
										</ol>
									</nav>
								</div>
							</div>
							<!-- /Row -->
							
							<!-- Row -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="dashboard_container">
										<div class="dashboard_container_body">
											<div class="table-responsive">
                        <table class="table">
                        
													<thead class="thead-dark">
														<tr>
															<th scope="col">Course </th>
															<th scope="col">Action</th>
														</tr>
													</thead>
                          <tbody>
                          <% @courses.each do |course| %>
														<tr>
															<th scope="row"><%= course.title%> /<%= course.credit_number %>CPD Credits</th>
                              <td><%= link_to 'Show', course, class:"login_click bg-green btn-sm" ,style:"color:white"%>
                              <%= link_to 'Edit', edit_course_path(course),:"data-no-turbolink"=>true,method:"get", class:"login_click bg-green btn-sm" ,style:"color:white" %>
                              <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' },:"data-no-turbolink"=>true,method:"get" , class:"llogin_click bg-red btn-sm" ,style:"color:white"%>
                              <%= link_to 'Add module', new_credit_path(:course_id => course.id), :"data-no-turbolink"=>true,method:"get" , class:"login_click bg-green btn-sm" ,style:"color:white"%>
                              <%= link_to 'questions', course_comments_path(course), :"data-no-turbolink"=>true,method:"get", class:"login_click bg-green btn-sm" ,style:"color:white"%>
															</td>
														</tr>
                            <% end %>
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- /Row -->
							
						</div>
					
					</div>
					<!-- Row -->
					
				</div>
			</section>


