<style>
  .card-img-top{

  }
</style>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
<div class="container"

<div style="background:whitesmoke;width:100%">
<div class="card p-5" style='width:70%;margin:auto'>
<!-- Card content -->
<div class="card-body">

  <!-- Title -->
  <h3 class="card-title"><b><%=@course.title%>&nbsp;/&nbsp;<%=@course.credit_number%> &nbsp;Credits</b></h3>
  <!-- Text -->
  <div class="A" style="background:yellow">
    <div style="width:50%;float:left;border-right:1px solid whitesmoke">
      <h5 class="card-text">Instructor:</p>
      <p class="card-text"><%=@course.user.email%></p>
    </div>
    <div style="width:50%;float:right;padding-left:30px">
      <!-- Button -->
      <p class="card-text" style="color:green;font-weight:bolder;font-size:20px"><%=@course.course_price %> RWF</p>
      <%if current_user.user_role=='professional'%>
      <%= link_to request_text, requests_update_path(course: @course), id:'request_link', remote: true, class:"btn btn-success", style:"border-radius:5px" %>
      <% end %>
      </div>
  </div>
</div>
  <!-- Card image -->
  <div class="view overlay">
      <%if @course.image.url%>
        <%= image_tag @course.image.url, class:"card-img-top",alt:"Card image cap"%>
      <% end%>
    <a href="#!">
      <div class="mask rgba-white-slight">salute</div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Course Description</h4>
    <!-- Text -->
    <p class="card-text"><%=@course.content%></p>
    <!-- Button -->

  <buton class="btn btn-lg">
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @course.marks %>
</p>

<p>
  <strong>Attemption:</strong>
  <%= @course.attemption %>
</p>
<p><%= link_to "Download", @course.upload_file_url %></p>
<a href="/exam/assesment">Assesment</a>
</button>
  </div>
  <%if current_user.user_role=='instructor'%>
  <%= link_to 'Edit', edit_course_path(@course), class:'btn btn-sm' %>
  <%= link_to 'Back', courses_path,class:'btn btn-sm' %>
  <%end%>

</div>
</div>
<!-- Card -->
</div>
<div style="width:1000px; height:800px; padding:16px; text-align:center; border: 10px solid #81c784 ">
<div style="width:950px; height:750px; padding:16px; text-align:center; border: 5px solid #81c784 ">
<%= image_tag("certificate.jpeg", :alt => "logo1 feed", style:"width:300px") %><br>
       <span style="font-size:17px; color:#81c784"><i>HEALTHEDUCAT LTD</i></span>
       <br>
       <span style="font-size:17px; color:#81c784"><i>KG 622 ST 13Ave Kimihurura, Kigali, Rwanda</i></span>
       <br>
       <span style="font-size:17px; color:#81c784"><i>(+250) 7890444 | healthedultd@gmail | https://www.healtheducat.com</i></span>
       <br><br/>
       <span style="font-size:50px; font-weight:bold; color:#81c784">CERTIFICATE OF COMPLETION</span>
       <br>
       <span style="font-size:25px; color:#81c784"><i>This is to certify that</i></span>
       <br><br>
       <span style="font-size:30px; color:#81c784"><b><%=@course.user.email%></b></span><br/><br/>
       <span style="font-size:25px; color:#81c784"><i>has successfully completed the course</i></span> <br/><br/>
       <span style="font-size:30px; color:#81c784"><%=@course.title%></span><br/>
       <span style="font-size:25px; color:#81c784"><i>dated</i></span><br>
      
      <span style="font-size:30px; color:#81c784">Janualy 22, 2020</span><br/><br/><br/></br/><br/>
      <span style="font-size:17px; color:#81c784"><i>BIGIRIMANA Jean Damascene</i></span><br>
      <span style="font-size:17px; color:#81c784"><i>Managing Director</i></span>
</div>
</div>
