<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('/assets/bg_1.jpg')">
        <div class="container">
          <div class="row align-items-end">
            <div class="col-lg-7">
              <h2 class="mb-0">To Request Course Click The Button Bellow</h2>
              <p>After request the course pay amount of course and get access of learning</p>
            </div>
          </div>
        </div>
      </div>


    <div class="custom-breadcrumns border-bottom">
      <div class="container">
        <%= link_to "Home", homepage_index_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <%= link_to "Courses", all_course_courses_path,:"data-no-turbolink"=>true,method:"get" %>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
      </div>
    </div><br>


   <div class="card p-5" style='width:70%;margin:auto'>
     <!-- Card content -->
     <div class="card-body">
       <!-- Title -->
       <h3 class="card-title"><b><%=@course.title%>&nbsp;/&nbsp;<%=@course.credit_number%> &nbsp;Credits</b></h3>
       <!-- Text -->
       <div class="A" style="background:yellow">
          <div style="width:50%;float:left;border-right:1px solid whitesmoke">
            <h5 class="card-text">Instructor:</p>
            <p class="card-text"><%=@course.user.email%></p>
          </div>
          <div style="width:50%;float:right;padding-left:30px">
             <!-- Button -->
             <p class="card-text" style="color:green;font-weight:bolder;font-size:20px"><%=@course.course_price %> RWF</p>
              <% if @favorite.present? %>
                <%= link_to 'Course requested', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                <% else %>
                  <%= link_to 'Make it a request', favorites_path(course_id: @course.id), method: :post, class: 'btn btn-success' %>
              <% end %>
            </div>
        </div>
      </div>

      <!-- Card image -->
      <div class="view overlay">
          <%if @course.image.url%>
            <%= image_tag @course.image.url, class:"card-img-top",alt:"Card image cap"%>
          <% end%>
      </div>
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Course Description</h4>
        <!-- Text -->
        <p class="card-text"><%=@course.content.html_safe%></p>
      </div>
      <% if user_signed_in? && current_user.user_role== 'instructor'%>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><b>Modules course of <%=@course.title%></b></h3>
          <hr class="hr">
          <% @course.credits.each do  |credit| %>
            <div class="module">
              <i class="fa fa-file-pdf-o fa_custom"></i> <%= link_to credit.name, credit_path%>
              <%= link_to "Download", credit.upload_file_url, target: :_blank %>
            </div><br>
          <% end %>
        </div>
      </div><br><br>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><b>Users requested course of <%=@course.title%></b></h3>
          <hr class="hr">
          <% @course.favorites.each do |favorite| %>
            <li class="listt"> <%= link_to(favorite.user.names, favorite.user) %></li>
          <% end %>
          </div>
        </div>
        <%end%>
        </div>




  </div><br>


