<style>
  .card-img-top{

  }
</style>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
<div class="container"

<div style="background:whitesmoke;width:100%">
<div class="card p-5" style='width:70%;margin:auto'>
<!-- Card content -->
<div class="card-body">

  <!-- Title -->
  <h3 class="card-title"><b><%=@course.title%>&nbsp;/&nbsp;<%=@course.credit_number%> &nbsp;Credits</b></h3>
  <!-- Text -->
  <div class="A" style="background:yellow">
    <div style="width:50%;float:left;border-right:1px solid whitesmoke">
      <h5 class="card-text">Instructor:</p>
      <p class="card-text"><%=@course.user.email%></p>
    </div>
    <div style="width:50%;float:right;padding-left:30px">
      <!-- Button -->
      <p class="card-text" style="color:green;font-weight:bolder;font-size:20px"><%=@course.course_price %> RWF</p>
   
     
      <% if @favorite.present? %>
        <%= link_to 'Cancel request', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'Make it a request', favorites_path(course_id: @course.id), method: :post, class: 'btn btn-success' %>
    <% end %>
      
      </div>
  </div>
</div>
  <!-- Card image -->
  <div class="view overlay">
      <%if @course.image.url%>
        <%= image_tag @course.image.url, class:"card-img-top",alt:"Card image cap"%>
      <% end%>
    <a href="#!">
      <div class="mask rgba-white-slight">salute</div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title">Course Description</h4>
    <!-- Text -->
    <p class="card-text"><%=@course.content%></p>
    
    <!-- Button -->

  <buton class="btn btn-lg">
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @course.marks %>
</p>

<p>
  <strong>Attemption:</strong>
  <%= @course.attemption %>
</p>


</button>
  </div>
  <%if current_user.user_role=='instructor'%>
  <%= link_to 'Edit', edit_course_path(@course), class:'btn btn-sm' %>
  <a href="/exam/assesment">Assesment</a>
  <%end%>
  <h3 class="card-title"><b>Modules course of <%=@course.title%></b></h3>
  <hr class="hr">
  
    <% @course.credits.each do  |credit| %>
      <div class="module">
      <i class="fa fa-file-pdf-o fa_custom"></i> <%= link_to credit.name, credit_path%>
      <%= link_to "Download", credit.upload_file_url %>
      </div><br>
    <% end %>

    
</div>
</div>
<!-- Card -->



 





<a href="/exam/assesment">Assesment</a>


