<!DOCTYPE html>
<html>
  <head>

    <title>HealthEdu</title>

<!-- add icon link -->
<link rel = "icon" href ="../assets/logoo.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2a6e215e75630012258309&product=sticky-share-buttons' async='async'></script>
    <script charset="UTF-8" src="//web.webpushs.com/js/push/c86930fe34217418c13de610eb008552_1.js" async></script>
    <script src="https://cdn.gravitec.net/storage/1bec3f0269c059864db1626179c54d7e/client.js" async></script>
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f2a6e215e75630012258309&product=sticky-share-buttons' async='async'></script>
</head>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <!-- ============================================================== -->
    <!-- Top header  -->
    <!-- ============================================================== -->
    <!-- Start Navigation -->
<div class="header header-light">
<div class="container">
  <nav id="navigation" class="navigation navigation-landscape">
    <div class="nav-header">
      <a class="nav-brand" href="#">
        <img src="../assets/green-logo.jpg" class="logo" alt="" />
      </a>
      <div class="nav-toggle"></div>
    </div>
    <div class="nav-menus-wrapper">
      <ul class="nav-menu ">

        <li><%= link_to 'Home', main_app.homepage_index_path,:"data-no-turbolink"=>true,method:"get" %></li>

        <li><%= link_to 'Courses', main_app.all_course_courses_path,:"data-no-turbolink"=>true,method:"get" %></li>

        <% if user_signed_in? && current_user.user_role== 'secondary'%>
          <li><%= link_to "Secondary",  main_app.all_course_courses_path(course_for: "secondary"),:"data-no-turbolink"=>true,method:"get" %></li>
          <li><li><%= link_to "Dashboard", main_app.all_favorite_path,:"data-no-turbolink"=>true,method:"get" %></li></li>
        <% end %>

        <li><%= link_to 'About Us', main_app.pages_about_path,:"data-no-turbolink"=>true,method:"get" %></li>

        <li><%= link_to 'Gallery', main_app.pages_gallery_path,:"data-no-turbolink"=>true,method:"get" %></li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contact us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"><%= link_to "https://api.whatsapp.com/send?phone=250789044439", class:"dropdown-item" do %>Whatsapp Us
       <% end %>
          <div class="dropdown-divider"></div>
          <%= mail_to "healthedultd@gmail.com", class:"dropdown-item" do %>Email Us
         <% end %>
        </div>
      </li>
        <% if user_signed_in? && current_user.user_role== 'professional'%>
          <li><%= link_to "Dashboard", main_app.all_favorite_path,:"data-no-turbolink"=>true,method:"get" %></li>
        <% end %>

        <% if user_signed_in? && current_user.user_role== 'admin'%>
          <li>
              <%= link_to "Dashboard",  rails_admin.dashboard_path,:"data-no-turbolink"=>true,method:"get" %>
          </li>
          <li>
              <%= link_to "reports",  report_path,:"data-no-turbolink"=>true,method:"get" %>
          </li>
        <% end %>
        <% if user_signed_in? && current_user.user_role== 'instructor'%>
          <li>
            <%= link_to 'Dashboard', main_app.courses_path,:"data-no-turbolink"=>true,method:"get" %>
          </li>
        <% end %>
        <% if user_signed_in? && current_user.user_role== 'council'%>
          <li>
            <%= link_to 'Dashboard', instructor_path,:"data-no-turbolink"=>true,method:"get" %>
          </li>
        <% end %>

      </ul>
        <ul class="nav-menu nav-menu-social align-to-right">
          <% if user_signed_in? %>
            <li class="login_click green light">
              <%= link_to "Logout", main_app.destroy_user_session_path, :method => :get %>
            </li>
            <% else %>
              <li class="login_click green light">
                <%= link_to "Sign in",  new_user_session_path,:"data-no-turbolink"=>true,method:"get" %>
              </li>
              <li class="login_click bg-green btn">
              <%= link_to "Sign up",  new_user_registration_path, :"data-no-turbolink"=>true,method:"get" %>
              </li>
          <% end %>
        </ul>

    </div>
  </nav>
</div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<% if notice %>
      <p class="alert alert-success", style='margin:2%'><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger", style='margin:2%'><%= alert %></p>
    <% end %>
<%= yield %>
<!-- ============================ Footer Start ================================== -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:whitesmoke;">
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="#" style="color:#51be78;"><i class="fa fa-envelope" aria-hidden="true"></i> healthedultd@gmail.com</a>
    </li>
    <li class="nav-item active">
    <a class="nav-link" href="#" style="color:#51be78;"><i class="fa fa-whatsapp" aria-hidden="true"></i> +250(789044439)</a>
    </li>
  </ul>
  <span class="navbar-text">
    <a href="https://web.facebook.com/HealthEdu-433949913673935/?eid=ARDKqokWU2Ib01gPms4Z-RceenkCySDZJA0xGWJA06sfR0nY4gn_yAqJBIc7kZRfkX3tuBafmju_w-G6" style="color:#51be78;" target="_blank"><i class="fab fa-facebook" style="font-size:30px;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/HEALTHEDULTD1" style="color:#51be78;" target="_blank"><i class="fab fa-twitter" style="font-size:30px;" ></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" style="color:#51be78;"><i class="fab fa-linkedin" style="font-size:30px;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
</div>
</nav>
<footer class="dark-footer skin-dark-footer">
				<div class="footer-bottom">
					<div class="container">
          <div class="row">
          <div class="col-lg-3">
            <p class="mb-4">
            <%= image_tag("logo1.png", class:"img-fluid") %>
            </p>
            <p>“Empowering Health Professionals”</p>
            <p><a href="#">Learn More</a></p>
          </div>
          <div class="col-lg-3">
            <h3 class="footer-heading"><span>Our area of practice</span></h3>
            <ul class="list-unstyled">
                <li><a href="#">Public Health Facilities</a></li>
                <li><a href="#">Private Health Facilities</a></li>
                <li><a href="#">Non-Government organizations</a></li>
                <li><a href="#">Others</a></li>

            </ul>
          </div>
          <div class="col-lg-3">
              <h3 class="footer-heading"><span>Regulatory Bodies</span></h3>
              <ul class="list-unstyled">
                <li><a href="#">RAHPC</a></li>
                <li><a href="#">RMDC</a></li>
                <li><a href="#">NPC</a></li>
                <li><a href="#">NCNM</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <h3 class="footer-heading"><span>Contact</span></h3>
              <ul class="list-unstyled">
                  <li><a href="#">Our Office: Fair View building (Near Lemigo Hotel)</a></li>
                  <li><a href="#">4TH Floor (Westewelle Startup Haus Kigali)</a></li>
                  <li><a href="#">E-mail: healthedultd@gmail.com</a></li>
                  <li><a href="#"> Phone: +250789044439</a></li>
              </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;2020 All rights reserved | This project is done by <a href="https://www.linkedin.com/in/uwingabiye-nadine-297626192/" target="_blank" >Three Sisters Developer</a>

                    </p>
            </div>
            </div>
          </div>
        </div>
				</div>
			</div>
			<!-- End Modal -->




			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="fas fa-arrow-up"></i></a>


		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->

		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/slick.js"></script>
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/counterup.min.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

</body>
</html>
